#root{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}